<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Menu </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Login</a></li>
                        <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <form #issuesForm='ngForm' (ngSubmit)='onIssueCreate(issuesForm.value)'>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input ngModel name="inputemail"  type="email" class="form-control" id="inputEmail4" placeholder="Email">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <input ngModel name="inputtitle"  type="title" class="form-control" id="inputTitle" placeholder="title">
    </div>
  </div>
  <div class="form-group col-md-4">
    <label for="inputBody">Address</label>
    <input  ngModel name="inputBody" type="body" class="form-control" id="inputBody" placeholder="1234 Main St">
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputState">label</label>
      <select ngModel name="inputLabel" id="inputLabel" class="form-control">
        <option  selected >Default</option>
        <option  >...</option>
      </select>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>

</div>


<div class="container">
  <div class="vertical-center">
  <table id="table" class="table display" style="width:100%">
        <thead>
            <tr>
                <th>API-Name</th>
                <th>Servers</th>
                <th>Version</th>
            </tr>
        </thead>
        <tbody>
           
            <tr>
                <td>Apitest</td>
                <td>TEST</td>
                <td><a href="">20.3.405</a></td>
            </tr>
            <tr>
                <td>Apitest</td>
                <td>TEST</td>
                <td><a href="">20.3.405</a></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>API-Name</th>
                <th>Servers</th>
                <th>Version</th>
            </tr>
        </tfoot>
    </table>
  </div>
</div>

